<!DOCTYPE html>

<html lang="ru">

	<head>
		<title>admin</title>
		<link rel="icon" href="../../wwwroot/img/stankinLogo.png">

		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="../../wwwroot/css/style.css">
	</head>

	<body class="bg">
		<form action="#" method="post" enctype="multipart/form-data"></form>

		<div class="adminInput">
				<p><input class="input" placeholder="login" type="text" name="log" value="" /></p>
				<p><input class="input" placeholder="password" type="password" name="pas" value="" /></p>

				<button class="btn">Скачать</button>
		</div>

		<div class="close"><button class="btn2" onclick="Back();">Назад</button></div>

		<div class="stankinBlock">
			<a href="https://stankin.ru/" target="_blank">
				<img class="stankinImg" src="../../wwwroot/img/stankin.png">
			</a>
		</div>

		<script type="text/javascript">
			
			function Back()
			{
				window.close();
			}

		</script>

	</body>
</html>