<!DOCTYPE html>

<html lang="ru">

<head>
    <title>admin</title>
    <link rel="icon" href="/img/stankinLogo.png">

    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>


<body class="bg">
    <form action="#" method="post" enctype="multipart/form-data"></form>

    <div class="adminInput">
        <br> <br> <br> <br> <br> <br>
        <input class="input" placeholder="login" type="text" name="log" value="" /> <br> <br>
        <input class="input" placeholder="password" type="password" name="pas" value="" /> <br>

        <button class="btn" onclick="Back();">Назад</button>
        <button class="btn" onclick="GetFile()">Скачать</button>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div> <img src="/img/hack.png"></div>
    </div>

    <script type="text/javascript">

        function Back() {
            
            window.open('/Home/Index','_self');
        }

        function GetFile() {
            window.open('/Home/AdminAccount', '_self');
        }

    </script>

</body>
</html>