@model List<ContactToAdmin> 

@foreach (var report in Model)
{ 

 <div class="blockMessage">
     <span class="space">@report.mail</span>
     <span class="space">@report.text</span>
 </div>
      
}


