<!DOCTYPE html>

<html lang="ru">

<head>
    <title>admin</title>
    <link rel="icon" href="/img/stankinLogo.png">

    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>


<body class="bg">
    <form action="~/Home/CheckAuthorization" method="post" enctype="multipart/form-data">

        <div class="adminInput">
            <br> <br> <br> <br> <br> <br>
            <input class="input" placeholder="login" type="text" name="login" value="" /> <br> <br>
            <input class="input" placeholder="password" type="password" name="password" value="" /> <br>


            <button class="btn" type="submit">Войти</button>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div> <img src="/img/hack.png"></div>
        </div>
    </form>
    <button class="btn" onclick="Back();">Назад</button>
    <script type="text/javascript">

        function Back() {

            window.open('/Home/Index', '_self');
        }

        function Enter() {
            window.open('/Home/AdminPanel', '_self');
        }

    </script>

</body>
</html>