<!DOCTYPE html>

<html lang="ru">

	<head>
		<title>Stankin.Connect</title>
		<link rel="icon" href="../../wwwroot/img/stankinLogo.png">

		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="../../wwwroot/css/style.css">
	</head>

	<body class="bg">
		<form action="#" method="post" enctype="multipart/form-data"></form>



		<div class="buttons">

			<div class="stankinBlock">
				<a href="https://stankin.ru/" target="_blank">
					<img class="stankinImg" src="../../wwwroot/img/stankin.png">
				</a>

			</div>

			<br><br><br>

			<button class="btn" onclick="Click1();" >Обеспечение комфортных условий</button>
			<button class="btn" onclick="Click2();" >Оборудование территории для инвалидов</button>
			<button class="btn" onclick="Click3();" >Обеспечение условий доступности для инвалидов</button>	
		

		<br>
			<button class="btn" onclick="ClickSupport();">Связаться с администрацией</button>
			<button class="btn" onclick="ClickAdmin();">Войти</button>
			<button class="btn" onclick="ClickInfo();">Информация</button>			
		</div>



		<script type="text/javascript">

			function Click1()
			{
				window.open('test1.html', '_blank');
			}

			function Click2()
			{
				window.open('test2.html', '_blank');
			}

			function Click3()
			{
				window.open('test3.html', '_blank');
			}

			function ClickSupport()
			{
				window.open('support.html', '_blank');
			}

			function ClickInfo()
			{
				window.open('info.html', '_blank');
			}

			function ClickAdmin()
			{
				window.open('admin.html', '_blank');
			}

		</script>
	</body>
</html>