

<!DOCTYPE html>

<html lang="ru">

<head>
    <title>Stankin.Connect</title>
    <link rel="icon" href="/img/stankinLogo.png">

    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="bg">
    <form action="#" method="post" enctype="multipart/form-data"></form>



    <div class="buttons">

        <div class="stankinBlock">
            <a href="https://stankin.ru/" target="_blank">
                <img class="stankinImg" src="/img/stankin.png">
            </a>

        </div>

        <br><br><br>

        <button class="btn" onclick="Click1();">Обеспечение комфортных условий</button>
        <button class="btn" onclick="Click2();">Оборудование территории для инвалидов</button>
        <button class="btn" onclick="Click3();">Обеспечение условий доступности для инвалидов</button>


        <br>
        <button class="btn" onclick="ClickSupport();">Связаться с администрацией</button>
        <button class="btn" onclick="ClickAdmin();">Войти</button>
        <button class="btn" onclick="ClickInfo();">Информация</button>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div> <img src="/img/hack.png"></div>
    </div>




    <script type="text/javascript">

        function Click1() {
            window.open('/Home/Test1', '_self');
        }

        function Click2() {
            window.open('/Home/Test2', '_self');
        }

        function Click3() {
            window.open('/Home/Test3', '_self');
        }

        function ClickSupport() {
            window.open('/Home/Support', '_self');
        }

        function ClickInfo() {
            window.open('/Home/Info', '_self');
        }

        function ClickAdmin() {
            window.open('/Home/Authorization', '_self');
        }

    </script>
</body>
</html>