<!DOCTYPE html>

<html lang="ru">

	<head>
		<title>Stankin.Connect</title>
		<link rel="icon" href="D:\Репозитории\HackInHome2021\Stankin.Connect\Stankin.Connect\wwwroot\img/stankinLogo.png">

		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="D:\Репозитории\HackInHome2021\Stankin.Connect\Stankin.Connect\wwwroot\css\style.css">
	</head>

	<body>
		<form action="#" method="post" enctype="multipart/form-data"></form>

		<div class="ChoiceTest">
			<div class="Test"><a href="test1.html" target="_blank">ТЕСТ 1</a></div>
			<a href="test2.html" target="_blank"><div class="Test">Оборудование территории для инвалидов</div></a>
			<div class="Test"><a href="test3.html" target="_blank">Доступность для инвалидов</a></div>
			<div class="Test"><a href="support.html" target="_blank">Отправить сообщение</a></div>

			<button class="btn" onclick="Click1();" >Тeстовая кнопка</button>
		</div>

		<div class="admin"><a href="admin.html" target="_blank"> ADMIN </a></div>

		<div class="info"><a href="info.html" target="_blank"> INFO </a></div>


		<script type="text/javascript">

			function Click1()
			{
				window.open('test1.html', '_blank');
			}

			function Click2()
			{
				window.open('test2.html', '_blank');
			}

			function Click3()
			{
				window.open('test3.html', '_blank');
			}

			function ClickSupport()
			{
				window.open('support.html', '_blank');
			}

		</script>>
	</body>
</html>