<!DOCTYPE html>

<html lang="ru">

	<head>
		<title>Info</title>
		<link rel="icon" href="D:\Репозитории\HackInHome2021\Stankin.Connect\Stankin.Connect\wwwroot\img/stankinLogo.png">

		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="D:\Репозитории\HackInHome2021\Stankin.Connect\Stankin.Connect\wwwroot\css\style.css">
	</head>

	<body>
		<form action="#" method="post" enctype="multipart/form-data"></form>

		<div>
			1. Сведения для расчета показателя «Соответствие информации о деятельности организации, размещенной на общедоступных информационных ресурсах, ее содержанию и порядку (форме) размещения, установленным нормативными правовыми актами на информационных стендах в помещении организации»:

1.1. Информация о представительствах и филиалах образовательной организации:
Полное наименование: Федеральное государственное бюджетное образовательное учреждение высшего образования "Московский государственный технологический университет "СТАНКИН"
Сокращенное наименование: ФГБОУ ВО "МГТУ "СТАНКИН"
Адрес местонахождения образовательной организации:
Юридический адрес: 127055, Москва, Вадковский пер., д.3а
Почтовый адрес: 127994, Москва, ГСП-4, Вадковский пер., д.1

Наименование филиала: Егорьевский технологический институт (филиал) федерального государственного бюджетного образовательного учреждения высшего образования «Московский государственный технологический университет «СТАНКИН»
Адрес местонахождения филиала образовательной организации: 140300, Московская область, г. Егорьевск, ул. Профсоюзная, 34

1.2. Информация о режиме, графике работы:
Основные сведения: Пн.-Чт. - 09.00 - 18.00 Пт. - 09.00 - 16.45
Перерыв для отдыха и питания 13.00- 13.45, сб.-вс. - выходные дни.
Режим гибкого рабочего времени для работников, связанных с организацией и обслуживанием учебного процесса (профессорско-преподавательский состав, учебно-вспомогательный персонал).
Сведения о филиалах: Пн.-Чт. - 09.00 - 18.00 Пт. - 09.00 - 16.45 Перерыв для отдыха и питания 13.00- 13.45, сб.-вс. - выходные дни.

1.3. Информация о контактных телефонах и об адресах электронной почты:
Основные сведения:
Адреса электронной почты: Приемная ректора: rector@stankin.ru
Пресс-служба: press@stankin.ru
Контактные телефоны: Приемная ректора: (499) 973-30-66; (499) 972-94-00
Справочная по входящей корреспонденции: (499) 973-30-76;
Работа с обращениями граждан: (499) 972-95-67
Сведения о филиалах: 
Адрес официального сайта в сети «Интернет»: e-stankin.ru
1.4. Информация о структуре и об органах управления образовательной организации (в том числе: наименование структурных подразделений (органов управления); фамилии, имена, отчества и должности руководителей структурных подразделений; места нахождения структурных подразделений; адреса официальных сайтов в сети «Интернет» структурных подразделений (при наличии); адреса электронной почты структурных подразделений (при наличии)
Вся необходимая информация располагается по ссылке (Структура (stankin.ru)) 
// Исправить при необходимости

1.5. Лицензии на осуществление образовательной деятельности
file_5c488dffad7ff.pdf (stankin.ru)

1.6. Свидетельства о государственной аккредитации
file_5e904889c115d.pdf (stankin.ru) Приложение 1;
file_5e904892dad55.pdf (stankin.ru) Приложение 2;

1.7. Локальные нормативные акты по основным вопросам организации и осуществления образовательной деятельности, в том числе регламентирующие правила приема обучающихся, режим занятий обучающихся, формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся, порядок и основания перевода, отчисления и восстановления обучающихся, порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися и (или) родителями (законными представителями) несовершеннолетних обучающихся.
Локальные нормативные акты и методические документы для обеспечения образовательного процесса (stankin.ru)

1.8. Правила внутреннего распорядка обучающихся, правила внутреннего трудового распорядка и коллективный договор
Правила внутреннего распорядка обучающихся: file_5e6892230aac3.pdf (stankin.ru)
Правила внутреннего трудового распорядка: file_5c48a7435caf9.pdf (stankin.ru)
Коллективный договор: Федеральное агентство по образованию (stankin.ru)
1.9. Документ о порядке оказания платных образовательных услуг (при наличии), в том числе образец договора об оказании платных образовательных услуг, документ об утверждении стоимости обучения по каждой образовательной программе
Стоимость обучения (stankin.ru)

		</div>

	</body>
</html>