<!DOCTYPE html>

<html lang="ru">

	<head>
		<title>support</title>
		<link rel="icon" href="../../wwwroot/img/stankinLogo.png">

		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="../../wwwroot/css/style.css">
	</head>

	<body class="bg">
		<form action="#" method="post" enctype="multipart/form-data"></form>

		<div class="supportInput">
			<div class="bold">Если у вас возникла проблема, с которой вы хотите поделиться, напишите нам!</div>
		
			<p><textarea class="textArea" name="text" cols="100" rows="16"></textarea></p>

			<div class="bold">Электронная почта для обратной связи:</div> <br>
			<input class="mail" placeholder="E-mail" type="text" name="mail" value="" /> 

			<br><br>
				<button class="btn" onclick="Back();">Назад</button>
				<button class="btn" type="submit">Отправить</button>

		</div>

		<script type="text/javascript">
			
			function Back()
			{
				window.close();
			}

		</script>

	</body>
</html>