<!DOCTYPE html>

<html lang="ru">

	<head>
		<title>test1</title>
		<link rel="icon" href="../../wwwroot/img/stankinLogo.png">
		
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="../../wwwroot/css/style.css">
	</head>

	<body class="bg">
		<form action="#" method="post" enctype="multipart/form-data"></form>

<div class="block"></div>
		<div class="main">
			
			<div>
				1) Наличие комфортной зоны отдыха (ожидания), оборудованной соответствующей мебелью. <br><br>
				<input type="radio" name="radio1" value="" /> Да <br>
				<input type="radio" name="radio1" value="" /> Нет <br><br><br>
			</div>

			<div>
				2) Наличие и понятность навигации внутри организации. <br><br>
				<input type="radio" name="radio2" value="" /> Да <br>
				<input type="radio" name="radio2" value="" /> Нет <br><br><br>
			</div>

			<div>
				3) Наличие и доступность питьевой воды. <br><br>
				<input type="radio" name="radio3" value="" /> Да <br>
				<input type="radio" name="radio3" value="" /> Нет <br><br><br>
			</div>

			<div>
				4) Наличие и доступность санитарно-гигиенических помещений. <br><br>
				<input type="radio" name="radio4" value="" /> Да <br>
				<input type="radio" name="radio4" value="" /> Нет <br><br><br>
			</div>

			<div>
				5) Санитарное состояние помещений организации. <br><br>
				<input class="radioCSS" type="radio" name="radio5" value="" /> Да <br>
				<input type="radio" name="radio5" value="" /> Нет <br><br><br>
			</div>

			<div>
				6) Транспортная доступность (возможность доехать до организации на общественном транспорте, наличие парковки). <br><br>
				<input type="radio" name="radio6" value="" /> Да <br>
				<input type="radio" name="radio6" value="" /> Нет <br><br>
			</div>

			
			<div>
				<input class="mail" placeholder="E-mail (по желанию)" type="text" name="E-mail" value="" />
			</div>

			<div class="center">
				<div>
					<button class="btn" onclick="Back();">Назад</button>
					<button class="btn" type="submit">Отправить</button>
				</div>
			</div>
		</div>


		<div class="stankinBlock">
			<a href="https://stankin.ru/" target="_blank">
				<img class="stankinImg" src="../../wwwroot/img/stankin.png">
			</a>
		</div>

		<script type="text/javascript">
			
			function Back()
			{
				window.close();
			}

		</script>
		

	</body>
</html>