<!DOCTYPE html>

<html lang="ru">

	<head>
		<title>test1</title>
		<link rel="icon" href="D:\Репозитории\HackInHome2021\Stankin.Connect\Stankin.Connect\wwwroot\img/stankinLogo.png">
		
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="D:\Репозитории\HackInHome2021\Stankin.Connect\Stankin.Connect\wwwroot\css\style.css">
	</head>

	<body>
		<form action="#" method="post" enctype="multipart/form-data"></form>

		<div>
			1) Наличие комфортной зоны отдыха (ожидания), оборудованной соответствующей мебелью.
			<p><input type="radio" name="radio1" value="" /> Да</p>
			<p><input type="radio" name="radio1" value="" /> Нет</p>
		</div>

		<div>
			2) Наличие и понятность навигации внутри организации.
			<p><input type="radio" name="radio2" value="" /> Да</p>
			<p><input type="radio" name="radio2" value="" /> Нет</p>
		</div>

		<div>
			3) Наличие и доступность питьевой воды.
			<p><input type="radio" name="radio3" value="" /> Да</p>
			<p><input type="radio" name="radio3" value="" /> Нет</p>
		</div>

		<div>
			4) Наличие и доступность санитарно-гигиенических помещений.
			<p><input type="radio" name="radio4" value="" /> Да</p>
			<p><input type="radio" name="radio4" value="" /> Нет</p>
		</div>

		<div>
			5) Санитарное состояние помещений организации.
			<p><input type="radio" name="radio5" value="" /> Да</p>
			<p><input type="radio" name="radio5" value="" /> Нет</p>
		</div>

		<div>
			6) Транспортная доступность (возможность доехать до организации на общественном транспорте, наличие парковки).
			<p><input type="radio" name="radio6" value="" /> Да</p>
			<p><input type="radio" name="radio6" value="" /> Нет</p>
		</div>

		<div>
			<input placeholder="E-mail (по желанию)" type="text" name="E-mail" value="" />
		</div>

		<div>
			<p><button type="submit">Отправить</button></p>
		</div>

		<div class="close"><img class="closeIMG" src="D:\Репозитории\HackInHome2021\Stankin.Connect\Stankin.Connect\wwwroot\img\close.png" alt="close" 
		onclick="window.close();" /></div>
		

	</body>
</html>