<!DOCTYPE html>

<html lang="ru">

	<head>
		<title>test3</title>
		<link rel="icon" href="../../wwwroot/img/stankinLogo.png">

		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="../../wwwroot/css/style.css">
	</head>

	<body class="bg">
		<form action="#" method="post" enctype="multipart/form-data"></form>

	<div class="main">
		<div>
			1) Дублирование для инвалидов по слуху и зрению звуковой и зрительной информации. <br><br>
			<input type="radio" name="radio1" value="" /> Да <br>
			<input type="radio" name="radio1" value="" /> Нет <br><br><br>
		</div>

		<div>
			2) Дублирование надписей, знаков и иной текстовой и графической информации знаками, выполненными рельефно-точечным шрифтом Брайля. <br><br>
			<input type="radio" name="radio2" value="" /> Да <br>
			<input type="radio" name="radio2" value="" /> Нет <br><br><br>
		</div> 

		<div>
			3) Возможность предоставления инвалидам по слуху (слуху и зрению) услуг сурдопереводчика (тифлосурдопереводчика). <br><br>
			<input type="radio" name="radio3" value="" /> Да <br>
			<input type="radio" name="radio3" value="" /> Нет <br><br><br> 
		</div>

		<div>
			4) Наличие альтернативной версии сайта организации для инвалидов по зрению. <br><br>
			<input type="radio" name="radio4" value="" /> Да <br>
			<input type="radio" name="radio4" value="" /> Нет <br><br><br>
		</div>

		<div>
			5) Помощь, оказываемая работниками организации, прошедшими необходимое обучение (инструктирование) по сопровождению инвалидов в помещениях организации и на прилегающей территории. <br><br>
			<input type="radio" name="radio5" value="" /> Да <br>
			<input type="radio" name="radio5" value="" /> Нет <br><br><br>
		</div>

		<div>
			6) Наличие возможности предоставления образовательных услуг в дистанционном режиме или на дому. <br><br>
			<input type="radio" name="radio6" value="" /> Да <br>
			<input type="radio" name="radio6" value="" /> Нет <br><br>
		</div> 

		<div>
			<input class="mail" placeholder="E-mail (по желанию)" type="text" name="E-mail" value="" />
		</div>


		<div class="center">
			<div>
				<button class="btn" onclick="Back();">Назад</button>
				<button class="btn" type="submit">Отправить</button>
			</div>
		</div>

	</div>

		<script type="text/javascript">
			
			function Back()
			{
				window.open('index.html', '_self');
			}

		</script>

	</body>
</html>