/*Обнуление*/
{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.block{
	margin: 170px 0 0 0;
	height: 90px;
	min-width: 1000px;
	background-color: #A40004;
}

.main{
	margin: 0px auto;
	border: 1px solid #A40004;
	padding-left: 40px;
	padding-top: 20px;
	height: 100%;
	max-width: 700px;
	font-size: 18px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.7);
}

.center{
	padding-bottom: 15px;
	max-width: 300px;
	margin: 0px auto;
	text-align: center;
}

.btn{
	text-decoration: none;
	text-align: center;
	display: inline-block;
	line-height: 30px;
	padding: 0 15px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #A40004;
	top: 0;
	position: relative;
	color: #A40004;
	background-color: #fff;
	margin-top: 30px;
	transition-duration: 0.3s;

}

.btn:hover{
	color: #fff;
	background-color: #A40004;
}

.news{
	height: 390px;
	margin: 0px auto;
	text-align: center;
	background: url('../../wwwroot/img/news.png') no-repeat;
	background-size: cover;
}

.copyrait{
	border: 1px solid #000;
	margin: 0px auto;
	height: 100px;
	background-color: #000;
	font-size: 14px;
	text-align: center;
	color: #fff;
	margin-top: 400px;
}


.Test{
	border: 1px solid #000;
	line-height: 40px;
	margin-top: 20px;
	background: green;
}
.Test:hover{
	width: 250px;
	height: 90px;
}
.image{
	height: 70px; 
	width: 198px;
}

.image:hover{
	width: 250px;
	height: 90px;
}


.adminInput{
	border: 1px solid #A40004;
	height: 100%;
	max-width: 1000px;
	text-align: center;
	margin: 0px auto;
	margin-top: 30px;
}

.supportInput{
	padding-top: 20px;
	border: 1px solid #A40004;
	height: 950px;
	max-width: 900px;
	text-align: center;
	margin: 0px auto;
	margin-top: 10px;
	font-size: 28px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.7);
}

.buttons{
	padding-top: 20px;
	border: 1px solid #A40004;
	max-width: 700px;
	margin: 0px auto;
	margin-top: 10px;
	height: 100%;
	text-align: center;
}

.closeIMG{
	height: 25px;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

.finalInfo{
	font-weight: bold;
	text-align: center;
}

.input{
	width: 270px;
	height: 30px;
	border-radius: 2px;
	border: none;
	border: 1px solid #A40004;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.input:focus{
	border: 2px solid #A40004;
	background-color: #A40004;
	color: #fff;
}

.mail{
	width: 220px;
	height: 30px;
	border-radius: 2px;
	border: none;
	border: 1px solid #A40004;
}

.mail:focus{
	border: 2px solid #A40004;
	background-color: #A40004;
	color: #fff;
}

.stankinBlock{
	max-width: 700px;
	margin-top: 10px;
}

.stankinImg{
	height: 130px;
}

.message{
	margin-top: 40px;
}

.blockMessage{
	border: 1px solid #A40004;
	height: 100%;
	width: 100%;
	text-align: left;
	font-size: 18px;
	color: #A40004;
	margin-top: 15px;
}

.blockMessage:hover{
	color: #fff;
	background-color: #A40004;
}

.space{
	padding-left: 30px;
}
